@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  z-index: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
li {
  list-style-type: none;
  list-style: none;
}
#products-info__items::-webkit-scrollbar {
  height: 4px;
}
#products-info__items::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}
#products-info__items::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
}
#slider::-webkit-scrollbar {
  height: 4px;
}
#slider::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}
#slider::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
}
#mobile-slider::-webkit-scrollbar {
  height: 4px;
}
#mobile-slider::-webkit-scrollbar-track {
  margin-right: 52px;
  background-color: #d9d9d9;
}
#mobile-slider::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
}
#items-slider::-webkit-scrollbar,
#facility-slider::-webkit-scrollbar,
#certificate-slider::-webkit-scrollbar {
  height: 4px;
}
#items-slider::-webkit-scrollbar-track,
#facility-slider::-webkit-scrollbar-track,
#certificate-slider::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}
#items-slider::-webkit-scrollbar-thumb,
#facility-slider::-webkit-scrollbar-thumb,
#certificate-slider::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
}
@media (max-width: 1024px) {
  #items-slider::-webkit-scrollbar-track,
  #facility-slider::-webkit-scrollbar-track,
  #certificate-slider::-webkit-scrollbar-track {
    margin: 0 24px;
  }
}
